.burgerMenuIcon {
    width: 24px;
    height: 24px;
margin-left: 20px;
}

.header {
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px #1D21261A,0px 0px 40px 0px #1D212621;
    justify-content: space-between;
    align-items:center;
    display: flex;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-right: 20px;
}